html {
  height: 100%;
  width: 100%;
}

#auth-button{
  padding: 5px 20px; 
  width: 100%;
  font-size: 16px;
  background-color: #4285f4;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

#auth-button.connected{
  background-color: #ff4b30;
}